
$primary: #cb3e4b;
$primary-darker: #a82f3b;
$white: #ffffff;
$black: #000000;
$background: #212121;

// Grayscale

$gray-darkest: #1a1a1a;
$gray-darker: #262626;
$gray-dark: #2d2d2d;
$gray: #383838;
$gray-light: #444444;
$gray-lighter: #5c5c5c;

// RGB

$red: #cb3e4b;
$green: #86b34d;
$blue: #2d99dc;
$orange: #e66c40;

// Custom

$cerulean: rgb(0, 163, 227);
$curious-blue: rgb(41, 134, 199);
$endaveour: rgb(0, 85, 163);
$minsk: rgb(54, 45, 136);
$eminence: rgb(116, 39, 135);
$violet-eggplant: rgb(170, 25, 133);
$mint-green: rgb(114, 255, 150);
$aquamarine: rgb(98, 255, 224);
$malibu: rgb(106, 191, 255);
$dodger-blue: rgb(94, 108, 255);
$heliotrope: rgb(162, 107, 255);
$perfume: rgb(245, 127, 254);