@import 'default';
@import 'colors';
@import 'header';
@import 'sidenav';

body {
    font-family: $main-font;
    color: $gray-lighter;
    background-color: $background;

    a, a:visited, a:link, a:active {
        transition: all 0.1s;
        text-decoration: none;
    }

    a:hover {
        color: $primary-darker;
        text-decoration: none;
        transition: all 0.1s;
    }
}

.MainLayout {
    display: flex;

    .content {
        width: 100%;

        .breadcrumbContainer {
            background-color: $gray-darker;
            height: 75px;
        }
    }

    .contentWrapper {
        border: 1px solid red;
    }
}