@import 'default';
@import 'colors';

.LoginLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container {
        width: 300px;
        border: 1px dotted $gray-dark;
        padding: 10px 20px;

        .header {
            line-height: 50px;
            height: 50px;

            .logo {
                background-size: 35px;
                width: 35px;
                height: 50px;
                background-position: 0 7px;
            }
        
            .heading {
                font-family: $bold-font;
                color: $white;
                display: inline-block;
                margin-left: 10px;
                vertical-align: top;
                text-transform: uppercase;
                letter-spacing: -0.5px;
                font-size: 15px;
                transform: scale(1, 0.9);
                padding-top: 1px;
            }

            .icon {
                float: right;
                height: 100%;
                color: $primary;
            }
        }
    }
}
